<component name="ArtifactManager">
  <artifact type="war" name="springmvcProject:war">
    <output-path>$PROJECT_DIR$/../springmvcProject/target</output-path>
    <root id="archive" name="springmvcProject.war">
      <element id="artifact" artifact-name="springmvcProject:war exploded" />
    </root>
  </artifact>
</component>